/* S */
@media (min-width: 600px) {
   
}

/* M */
@media (min-width: 768px) {
    
}

/* L */
@media (min-width: 992px) {

    .btn-bar {
        display: none;

    }
    
    .menu {
        position: relative;
        align-items: center;
        background-color: transparent;
        backdrop-filter: none;
    }

    .menu ul {
        display: flex;
        justify-content: flex-end;
        width: 100%;
        margin: 0px;
        text-align: center;
    }
    
    .menu li {
        margin: 0px;
    }

    .menu a:hover {
        background-color: rgb(204, 204, 204);
    }

    .close-btn {
        display: none;
    }

    #section-sobre {
        background: white url(../img/lucas-xl.jpg) no-repeat bottom right;
        background-size: contain;
        padding: 100px;
    }

    #section-sobre .conteudo {
        width: 100%;
        max-width: 500px;
    }

    #section-sobre h1 {
        margin-top: 0px;
        font-size: 5em;
        line-height: 90px;
    }

    #section-sobre .nome {
        font-size: 1.6em;
    }

    #section-sobre p {
        font-size: 18px;
    }

    #section-portfolio p {
        font-size: 18px;
        padding-bottom: 40px;
    }

    #section-contato p {
        font-size: 18px;
        margin-bottom: 15px;
    }


    /* Ações para usar com JS */
    header.ativo {
        background-color: var(--azul);
        box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.473);
    }
    
    .menu .branco {
            color: white;
    }

    .contato-vermelho {
        background-color: var(--vermelho);
    }

    .hide {
        display: flex;
    }
    

}

/* XL */
@media (min-width: 1200px) {
    
}